.l-layout {
  &__content {
    position: relative;
    z-index: 1;

    &.-right {
      @media (min-width: $from-large) {
        right: -9rem;
      }

      &::before {
        @media (min-width: $from-large) {
          content: '';
          position: absolute;
          display: block;
          background-color: $bg;
          width: calc(100% + 32rem);
          height: 100%;
          z-index: -1;
          top: 0;
          right: 0;
          border-radius: 10px 0 0 10px;
        }
      }
    }

    &.-left {
      @media (min-width: $from-large) {
        left: 0;
        padding-left: 0;
      }

      &::before {
        @media (min-width: $from-large) {
          content: '';
          position: absolute;
          display: block;
          background-color: $bg;
          width: calc(100% + 32rem);
          height: 100%;
          z-index: -1;
          top: 0;
          left: -18rem;
          border-radius: 0 10px 10px 0;
        }
      }
    }

    &-inner {
      color: #fff;
      margin-right: 2rem;
      margin-left: 2rem;
      padding: 5rem 0;
    }
    &-title {
      font-family: $font-title;
      display: block;

      &:after {
        content: '';
        display: block;
        margin: rem(10px) 0;
        width: rem(70px);
        background-color: $accent;
        height: rem(3px);
        border-radius: 10px;
      }
    }
    &-text {
      margin: rem(30px) 0;
      line-height: rem(30px);
    }
  }
}
