.l-layout {
  &__content {
    &-title {
      font-family: $font-title;
      display: block;

      &:after {
        content: '';
        display: block;
        margin: rem(10px) 0;
        width: rem(70px);
        background-color: $accent;
        height: rem(3px);
        border-radius: 10px;
      }
    }
    &-text {
      margin: rem(30px) 0;
      line-height: rem(30px);
    }
  }
}
