.c-offer {
  position: relative;
  display: block;
  color: #fff;
  overflow: hidden;

  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/images/grid.svg');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 50%;
    opacity: 0.3;
  }

  &__quote {
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: $font-title;
    padding: rem(120px) 0;
    position: relative;

    &-text {
      font-size: rem(42px);
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      &::before {
        content: '';
        display: block;
        height: 100%;
        width: rem(3px);
        background-color: $accent;
        position: relative;
        border-radius: rem(3px);
        margin-right: rem(30px);
      }

      em {
        font-style: normal;
        color: $accent;
      }
    }
  }
}
